* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
        background-color: #fafafa;
        font-family: Helvetica, sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
}

.left {
    position: relative;
}

.screen {
    position: absolute;
    left: 150px;
    top: 100px;
}